@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
   height: 100%;
}

body{
    background-image: linear-gradient(45deg, #B2ECE1, #8CDEDC,#EF959D);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #db888f8a;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #F4B860;
    text-align: center;
    text-shadow: 1px 1px 0px #9e783fb4;
}

h2{
    color: #0496FF;
    text-shadow: 0.9px 0.9px 0px #0360a39f;
}
p{
    color: #312F2F;
    text-align: justify;
}