@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(45deg, #EF959D, #C2CDEA, #7A98E6, #5e76b3bd, #312);
    
    
}
main{
    background-color: #e9ebf1;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #5e76b3bd;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #364466;
    text-align: center;
    text-shadow: #28324ba8;
}

h2{
    color: #594F66;
}
    
p{
    color: #312f2f;
    text-align: justify;
    
}